@model IEnumerable<WebApplication.Models.cli_empresa>

@{
    ViewBag.Title = "Detalle de Empresas";
}


@section Menu {
    @Scripts.Render("~/Scripts/Tables/Data/menu")
}

@Styles.Render("~/AdminLTE/plugins/datatables/css")

<div  style="margin-left:50px">
    <p>
        
    </p>
</div> 
    
    <div class="row">
        <div class="col-md-12 ">
            <div class="box" style="margin-left:50px">

                <div class="box-body">
                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()

                        <div class="form-horizontal">
                            <h4>@Html.ActionLink("Agregar Empresa", "CreaEmpresa")</h4>
                            <hr />
                            @Html.ValidationSummary(true)
                            <table id="example1" class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th>Nombre</th>
                                        <th>Ruc</th>
                                        <th>Direccion</th>
                                        <th>Numero de Contacto</th>
                                        <th>Ciudad</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <td>
                                                <a href="@Url.Action("ModificaEmpresa","Empresa" , new { id = item.idCli_Empresa})">
                                                    @Html.DisplayFor(modelItem => item.Cli_Nombre)
                                                </a>
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Cli_Ruc)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Cli_Direccion)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Cli_Tel)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Cli_Ciudad)
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                                
                            </table>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>

    @section Scripts {
        @Scripts.Render("~/AdminLTE/plugins/datatables/js")
        @Scripts.Render("~/Scripts/Tables/Data")
    }
