@model IEnumerable<WebApplication.Models.EmpresaAccount>

    
@{
    ViewBag.Title = "Empresa";
}

@section Menu{
    @Scripts.Render("~/Scripts/Tables/Data/menu")
}

@Styles.Render("~/AdminLTE/plugins/datatables/css")
                      
<p>
@Html.ActionLink("Nueva Empresa", "CreaEmpresa")
</p>
<div class="row">
    <div class="col-xs-12">
        <div class="box">
            <div class="box-header">
                <h3 class="box-title">Empresas con Contrato de Servicios</h3>
            </div>
            <div class="box-body">
                <table id="example1" class="table table-bordered table-striped" role="grid" aria-describedby="example1_info">
                    <thead>
                        <tr>
                            <th>Nombre</th>
                            <th>Direccion</th>
                            <th>Ciudad</th>
                            <th>Telefono</th>
                            @*<th>Ruc</th>*@
                            <th>Editar</th>
                            <th>Eliminar</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.nombre)
                                </td>
                                <td>@Html.DisplayFor(modelItem => item.direccion)</td>
                                <td>@Html.DisplayFor(modelItem => item.ciudad)</td>
                                <td>@Html.DisplayFor(modelItem => item.telefono)</td>
                                @*<td>@Html.DisplayFor(modelItem => item.ruc)</td>*@
                                <td><a href="@Url.Action("ModificaEmpresa", "Empresa", new { cod=item.codigo})" class="text-center"><i class="fa fa-fw fa-pencil-square"></i></a></td>
                                <td><a href="Empresa/Eliminar"><i class="fa fa-fw fa-eraser"></i></a></td>                         
                            </tr>
                        }
                    </tbody>
                    <tfoot>
                        <tr>
                            <th>Nombre</th>
                            <th>Direccion</th>
                            <th>Ciudad</th>
                            <th>Telefono</th>
                            @*<th>Ruc</th>*@
                            <th>Edit</th>
                            <th>Eliminar</th>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/AdminLTE/plugins/datatables/js")
    @Scripts.Render("~/Scripts/Tables/Data")
}