@model IEnumerable<WebApplication.Models.cli_equipo>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Cli_Marca)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cli_Modelo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cli_DiscoDuro)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cli_Ram)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cli_Procesador)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.cli_tipoequipo1.cli_tipoequipoDesc)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Cli_Marca)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Cli_Modelo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Cli_DiscoDuro)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Cli_Ram)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Cli_Procesador)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.cli_tipoequipo1.cli_tipoequipoDesc)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.idCli_Equipo , id1=item.Cli_TipoEquipo_idCli_TipoEquipo}) |
            @Html.ActionLink("Details", "Details", new {  id=item.idCli_Equipo }) |
            @Html.ActionLink("Delete", "Delete", new {  id=item.idCli_Equipo })
        </td>
    </tr>
}

</table>
