@model WebApplication.Models.com_usuarios

@{
    ViewBag.Title = "Delete";
}



@if (ViewBag.Verificar is Int32)
{
<div class="register-box">
    <div class="register-box-body">
        <h3 style="text-align:center">ELIMINAR USUARIO</h3>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                <label for="inputEmail3" class="col-sm-2 control-label">Nombre</label>
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Com_Nombre)
            </dd>

            <dt>
                <label for="inputEmail3" class="col-sm-2 control-label">Apellido</label>
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Com_Apellido)
            </dd>

            <dt>
                <label for="inputEmail3" class="col-sm-2 control-label">Correo</label>
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Com_Correo)
            </dd>

            <dt>
                <label for="inputEmail3" class="col-sm-2 control-label">Dirección</label>
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Com_Direccion)
            </dd>

            <dt>
                <label for="inputEmail3" class="col-sm-2 control-label">Cédula</label>
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Com_Cedula)
            </dd>

            <dt>
                <label for="inputEmail3" class="col-sm-2 control-label">Teléfono</label>
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Com_Telefono)
            </dd>

            <dt>
                <label for="inputEmail3" class="col-sm-2 control-label">Clave</label>
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Com_Clave)
            </dd>

            <dt>
                <label for="inputEmail3" class="col-sm-2 control-label">Descripción</label>
            </dt>

            <dd>
                @Html.DisplayFor(model => model.roles.Descripcion)
            </dd>

        </dl>
        @using (Html.BeginForm())
        {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Eliminar" class="btn btn-danger" />
            @Html.ActionLink("Volver", "Index", null, new { @class = "btn btn-danger" })
        </div>
        }
    </div>
</div>
}