@model WebApplication.Models.cli_user

@{
    ViewBag.Home = "Home";
    ViewBag.Title = "Eliminar Usuario";
    ViewBag.Subtitle = "Usuarios";
}
@if (ViewBag.Verificar is Int32)
{
<div class="register-box">
    <div class="register-box-body">
        <h3 style="text-align:center">ELIMINAR USUARIO</h3>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                <label for="inputEmail3" class="col-sm-2 control-label">Nombre</label>
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Cli_nombre)
            </dd>

            <dt>
                <label for="inputEmail3" class="col-sm-2 control-label">Apellido</label>
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Cli_apellido)
            </dd>

            <dt>
                <label for="inputEmail3" class="col-sm-2 control-label">Correo</label>
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Cli_Correo)
            </dd>

            <dt>
                <label for="inputEmail3" class="col-sm-2 control-label">Empresa</label>
            </dt>

            <dd>
                @Html.DisplayFor(model => model.cli_cliente.Cli_RSocial)
            </dd>

            <dt>
                <label for="inputEmail3" class="col-sm-2 control-label">Departamento</label>
            </dt>

            <dd>
                @Html.DisplayFor(model => model.cli_departamento.Cli_Descripcion)
            </dd>

            <dt>
                <label for="inputEmail3" class="col-sm-2 control-label">Equipo</label>
            </dt>

            <dd>
                @Html.DisplayFor(model => model.cli_equipo.Cli_Marca)
            </dd>

        </dl>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color">
                <input type="submit" value="Eliminar" class="btn btn-danger" />
                @Html.ActionLink("Volver", "Index", null, new { @class = "btn btn-danger" })
            </div>
        }
    </div>
    </div>
}
