@model WebApplication.Models.cli_user

@{
    ViewBag.Home = "Home";
    ViewBag.Title = "Editar Usuario";
    ViewBag.Subtitle = "Usuarios";
}
@if (ViewBag.Verificar is Int32)
{
<div class="register-box">
    <div class="register-box-body">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal">
                <h3 style="text-align:center">EDITAR USUARIO</h3>
                <hr />
                @Html.ValidationSummary(true)
                @Html.HiddenFor(model => model.idCli_Usuario)

                <div class="form-group">
                    <label for="inputEmail3" class=" required col-sm-3 control-label">Nombre</label>
                    <div class="col-md-8">
                        @Html.EditorFor(model => model.Cli_nombre, new { htmlAttributes = new { @class = "form-control form-control-rounded", required = "required" } })
                        @Html.ValidationMessageFor(model => model.Cli_nombre, null, new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <label for="inputEmail3" class=" col-sm-3 control-label">Apellido</label>
                    <div class="col-md-8">
                        @Html.EditorFor(model => model.Cli_apellido, new { htmlAttributes = new { @class = "form-control form-control-rounded" } })
                        @Html.ValidationMessageFor(model => model.Cli_apellido)
                    </div>
                </div>

                <div class="form-group">
                    <label for="inputEmail3" class=" required col-sm-3 control-label">Empresa</label>
                    <div class="col-md-8">
                        @Html.DropDownList("Cli_Cliente_idCli_Cliente", null, new { @class = "form-control form-control-rounded" })
                        @Html.ValidationMessageFor(model => model.Cli_Cliente_idCli_Cliente)
                    </div>
                </div>

                <div class="form-group">
                    <label for="inputEmail3" class=" required col-sm-3 control-label">Departamento</label>
                    <div class="col-md-8">
                        @Html.DropDownList("Cli_Departamento_idCli_Departamento", null, new { @class = "form-control form-control-rounded" })
                        @Html.ValidationMessageFor(model => model.Cli_Departamento_idCli_Departamento)
                    </div>
                </div>

                <div class="form-group">
                    <label for="inputEmail3" class="  col-sm-3 control-label">Correo</label>
                    <div class="col-md-8">
                        @Html.EditorFor(model => model.Cli_Correo, new { htmlAttributes = new { @class = "form-control form-control-rounded", type="email" } })
                        @Html.ValidationMessageFor(model => model.Cli_Correo)
                    </div>
                </div>

                <div class="form-group">
                    <label for="inputEmail3" class=" required col-sm-3 control-label">Equipo</label>
                    <div class="col-md-8">
                        @Html.DropDownList("Cli_Equipo_idCli_Equipo", null, new { @class = "form-control form-control-rounded" })
                        @Html.ValidationMessageFor(model => model.Cli_Equipo_idCli_Equipo)
                    </div>
                </div>

                @*<div class="form-group">
                    <label for="inputEmail3" class=" required col-sm-3 control-label">Tipo de Equipo</label>
                    <div class="col-md-8">
                        @Html.DropDownList("Cli_Equipo_idCli_Equipo", null, new { @class = "form-control form-control-rounded" })
                        @Html.ValidationMessageFor(model => model.Cli_Equipo_Cli_TipoEquipo_idCli_TipoEquipo)
                    </div>
                </div>*@
                @Html.HiddenFor(model => model.Cli_Equipo_Cli_TipoEquipo_idCli_TipoEquipo)

                <div class="form-group">
                    <div class="col-md-offset-3 col-md-8">
                        <button type="submit" class="btn btn-success">Aceptar</button>
                        @Html.ActionLink("Volver", "Index", null, new { @class = "btn btn-danger" })
                    </div>
                </div>
            </div>
        }
    </div>
</div>
}
<style type="text/css">
    .form-control-rounded {
        border-radius: 16px;
    }

    .required::after {
        content: "*";
        font-weight: normal;
        color: red;
        font-size: large;
    }
</style>
