@model IEnumerable<WebApplication.Models.cli_user>

@{
    ViewBag.Title = "Index";
}



@section Menu {
    @Scripts.Render("~/Scripts/Tables/Data/menu")
}

@Styles.Render("~/AdminLTE/plugins/datatables/css")

@if (ViewBag.Verificar is Int32)
{
<div class="row">
    <div class="col-md-12">
        <div class="box">
            <div class="table-responsive">
                <div class="box-body">
                    <div class="form-horizontal">
                        <h4>@Html.ActionLink("AGREGAR", "create", "create", new { @class = "btn btn-success" })</h4>
                        <hr />
                        <table id="example1" class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>
                                        <label>Nombre</label>
                                    </th>
                                    <th>
                                        <label>Apellido</label>
                                    </th>
                                    <th>
                                        <label>Correo</label>
                                    </th>
                                    <th>
                                        <label>Empresa</label>
                                    </th>
                                    <th>
                                        <label>Departamento</label>
                                    </th>
                                    <th>
                                        <label>Equipo</label>
                                    </th>
                                    <th>Mantenimiento</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Cli_nombre)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Cli_apellido)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Cli_Correo)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.cli_cliente.Cli_Nombre)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.cli_departamento.Cli_Descripcion)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.cli_equipo.Cli_Marca)
                                        </td>
                                        <td>
                                            @Html.ActionLink("Editar", "Edit", new { id = item.idCli_Usuario }, new { @class = "btn btn-success" }) 
                                            @Html.ActionLink("Detalles", "Details", new { id = item.idCli_Usuario },new { @class = "btn btn-primary" }) 
                                            @Html.ActionLink("Eliminar", "Delete", new { id = item.idCli_Usuario },new { @class = "btn btn-danger" })
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
}
@section Scripts {
    @Scripts.Render("~/AdminLTE/plugins/datatables/js")
    @Scripts.Render("~/Scripts/Tables/Data")
}
