@model WebApplication.Models.cli_equipo

@{
    ViewBag.Title = "Create";
}

<div class="register-box">
    <div class="register-box-body">
        <p class="login-box-msg">Equipo</p>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal">
                <h4>Datos</h4>
                <hr />
                @Html.ValidationSummary(true)

                <div class="form-group">
                    <label for="inputEmail3" class="col-sm-2 control-label">Marca</label>
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Cli_Marca)
                        @Html.ValidationMessageFor(model => model.Cli_Marca)
                    </div>
                </div>

                <div class="form-group">
                    <label for="inputEmail3" class="col-sm-2 control-label">Modelo</label>
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Cli_Modelo)
                        @Html.ValidationMessageFor(model => model.Cli_Modelo)
                    </div>
                </div>

                <div class="form-group">
                    <label for="inputEmail3" class="col-sm-2 control-label">Disco Duro</label>
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Cli_DiscoDuro)
                        @Html.ValidationMessageFor(model => model.Cli_DiscoDuro)
                    </div>
                </div>

                <div class="form-group">
                    <label for="inputEmail3" class="col-sm-2 control-label">Memoria RAM</label>
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Cli_Ram)
                        @Html.ValidationMessageFor(model => model.Cli_Ram)
                    </div>
                </div>

                <div class="form-group">
                    <label for="inputEmail3" class="col-sm-2 control-label">Procesador</label>
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Cli_Procesador)
                        @Html.ValidationMessageFor(model => model.Cli_Procesador)
                    </div>
                </div>

                <div class="form-group">
                    <label for="inputEmail3" class="col-sm-2 control-label">Tipo de equipo</label>
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Cli_TipoEquipo)
                        @Html.ValidationMessageFor(model => model.Cli_TipoEquipo)
                    </div>
                </div>

                <div class="form-group">
                    <label for="inputEmail3" class="col-sm-2 control-label">Tipo de Equipo</label>
                    <div class="col-md-10">
                        @Html.DropDownList("Cli_TipoEquipo_idCli_TipoEquipo", String.Empty)
                        @Html.ValidationMessageFor(model => model.Cli_TipoEquipo_idCli_TipoEquipo)
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Guardar" class="btn btn-default" />|
                        @Html.ActionLink("Volver", "Index")|
                        @Html.ActionLink("Nuevo Tipo","create","cliTipoEquipo")
                    </div>
                </div>
            </div>
        }
    </div>
</div>

