@model WebApplication.Models.cli_equipo

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>cli_equipo</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Cli_Marca)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cli_Marca)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cli_Modelo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cli_Modelo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cli_DiscoDuro)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cli_DiscoDuro)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cli_Ram)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cli_Ram)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cli_Procesador)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cli_Procesador)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.cli_tipoequipo1.cli_tipoequipoDesc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cli_tipoequipo1.cli_tipoequipoDesc)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
