@model IEnumerable<WebApplication.Models.cli_equipo>


@section Menu {
    @Scripts.Render("~/Scripts/Tables/Data/menu")
}

@Styles.Render("~/AdminLTE/plugins/datatables/css")


<div class="row">
    <div class="col-md-12 ">
        <div class="box">
            <div class="table-responsive">
                <div class="box-body">
                    <div class="form-horizontal">
                        <h4>@Html.ActionLink("AGREGAR", "create", "create", new { @class = "btn btn-success" })</h4>
                        <table id="example1" class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>
                                        <label>Marca</label>
                                    </th>
                                    <th>
                                        <label>Modelo</label>
                                    </th>
                                    <th>
                                        <label>Disco</label>
                                    </th>
                                    <th>
                                        <label>Memoria Ram</label>
                                    </th>
                                    <th>
                                        <label>Procesador</label>
                                    </th>
                                    @*<th>
                                <label>Tipo Equipo</label>
                            </th>*@
                                    <th>
                                        <label>Tipo Equipo</label>
                                    </th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Cli_Marca)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Cli_Modelo)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Cli_DiscoDuro)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Cli_Ram)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Cli_Procesador)
                                        </td>
                                        @*<td>
                                    @Html.DisplayFor(modelItem => item.Cli_TipoEquipo)
                                </td>*@
                                        <td>
                                            @Html.DisplayFor(modelItem => item.cli_tipoequipo.Cli_Descripcion)
                                        </td>
                                        <td>
                                            @Html.ActionLink("Editar", "Edit", new { id = item.idCli_Equipo, id1 = item.Cli_TipoEquipo_idCli_TipoEquipo }, new { @class = "btn btn-success" })
                                            @Html.ActionLink("Ver", "Details", new { id = item.idCli_Equipo, id1 = item.Cli_TipoEquipo_idCli_TipoEquipo }, new { @class = "btn btn-primary" })
                                            @Html.ActionLink("Eliminar", "Delete", new { id = item.idCli_Equipo, id1 = item.Cli_TipoEquipo_idCli_TipoEquipo }, new { @class = "btn btn-danger" })
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            
            </div>
    </div>
    </div>

@section Scripts {
    @Scripts.Render("~/AdminLTE/plugins/datatables/js")
    @Scripts.Render("~/Scripts/Tables/Data")
}

