@model IEnumerable<WebApplication.Models.roles>

@{
    ViewBag.Home = "Home";
    ViewBag.Title = "Roles";
    ViewBag.Subtitle = "Compuservi";
    ViewBag.Subtitle1 = "Rol de Usuaurio";
}

@section Menu {
    @Scripts.Render("~/Scripts/Tables/Data/menu")
}

@Styles.Render("~/AdminLTE/plugins/datatables/css")
@if (ViewBag.Verificar is Int32)
{
<div class="row">
    <div class="col-md-12">
        <div class="box">
            <div class="box-body">
                <div class="form-horizontal">
                    <h4>@Html.ActionLink("AGREGAR", "create", "create", new { @class = "btn btn-success" })</h4>
                    <hr />
                    <table id="example1" class="table table-bordered">
                        <thead>
                            <tr>
                                <th>
                                    <label>Descripción</label>
                                </th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Descripcion)
                                    </td>
                                    <td>
                                        @Html.ActionLink("Editar", "Edit", new { id = item.idRoles }, new { @class = "btn btn-success" })
                                        @Html.ActionLink("Detalles", "Details", new { id = item.idRoles }, new { @class = "btn btn-primary" })
                                        @Html.ActionLink("Eliminar", "Delete", new { id = item.idRoles }, new { @class = "btn btn-danger" })
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
}

@section Scripts {
    @Scripts.Render("~/AdminLTE/plugins/datatables/js")
    @Scripts.Render("~/Scripts/Tables/Data")
}