@model WebApplication.Models.comp_ruta

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>comp_ruta</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Comp_Fecha)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Comp_Fecha)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Comp_NumeroVisitaMes)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Comp_NumeroVisitaMes)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Comp_TiempoDur)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Comp_TiempoDur)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Comp_Comentario)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Comp_Comentario)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Comp_estado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Comp_estado)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Comp_HoraLlegada)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Comp_HoraLlegada)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Comp_HoraSalida)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Comp_HoraSalida)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Comp_CreadoPor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Comp_CreadoPor)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Comp_CerradoPor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Comp_CerradoPor)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Com_Usuarios_idCom_Usuarios)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Com_Usuarios_idCom_Usuarios)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cli_Usuario_idCli_Usuario)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cli_Usuario_idCli_Usuario)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.cli_cliente.Cli_Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cli_cliente.Cli_Nombre)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.idComp_Bitacora }) |
    @Html.ActionLink("Back to List", "Index")
</p>
