@model WebApplication.Models.comp_ruta

@{
    ViewBag.Title = "Details";
}
@if (ViewBag.Verificar is Int32)
{
<div class="register-box">
    <div class="register-box-body">
        <h3 style="text-align:center">Detalle RUTA</h3>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                <label for="inputEmail3" class="col-sm-2 control-label">Fecha</label>
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Comp_Fecha)
            </dd>

            <dt>
                <label for="inputEmail3" class="col-sm-2 control-label">Visita No.</label>
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Comp_NumeroVisitaMes)
            </dd>

            <dt>
                <label for="inputEmail3" class="col-sm-2 control-label">Tiempo estimado</label>
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Comp_TiempoDur)
            </dd>

            <dt>
                <label for="inputEmail3" class="col-sm-2 control-label">Comentario</label>
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Comp_Comentario)
            </dd>

            <dt>
                <label for="inputEmail3" class="col-sm-2 control-label">Estado</label>
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Comp_estado)
            </dd>

            <dt>
                <label for="inputEmail3" class="col-sm-2 control-label">Hora Inicio</label>
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Comp_HoraLlegada)
            </dd>

            <dt>
                <label for="inputEmail3" class="col-sm-2 control-label">Hora Fin</label>
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Comp_HoraSalida)
            </dd>

            <dt>
                <label for="inputEmail3" class="col-sm-2 control-label">Creado Por:</label>
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Comp_CreadoPor)
            </dd>

            <dt>
                <label for="inputEmail3" class="col-sm-2 control-label">Cerrado por:</label>
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Comp_CerradoPor)
            </dd>

            <dt>
                <label for="inputEmail3" class="col-sm-2 control-label">Usuario</label>
            </dt>

            <dd>
                @Html.DisplayFor(model => model.cli_user.Cli_nombre)
            </dd>

            <dt>
                <label for="inputEmail3" class="col-sm-2 control-label">Técnico asignado</label>
            </dt>

            <dd>
                @Html.DisplayFor(model => model.com_usuarios.Com_Nombre)
            </dd>

        </dl>

        <p>
            @Html.ActionLink("Editar", "Edit", new { id = Model.idComp_Bitacora },new { @class = "btn btn-success" }) 
            @Html.ActionLink("Volver", "Index", null, new { @class = "btn btn-danger" })
        </p>
    </div>
    </div>
}