@model IEnumerable<WebApplication.Models.comp_ruta>

@{
    ViewBag.Title = "Index";
}

@section Menu {
    @Scripts.Render("~/Scripts/Tables/Data/menu")
}

@Styles.Render("~/AdminLTE/plugins/datatables/css")


@if (ViewBag.Verificar is Int32)
{
<div class="row">
    <div class="col-md-12 ">
        <div class="box">
            <div class="table-responsive">
                <div class="box-body">
                    <div class="form-horizontal">
                        <h4>@Html.ActionLink("AGREGAR", "create", "create", new { @class = "btn btn-success" })</h4>
                        <table id="example1" class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>
                                        <label>Fecha</label>
                                    </th>
                                    <th>
                                        <label>Visita No.</label>
                                    </th>
                                    <th>
                                        <label>Tiempo Est.</label>
                                    </th>
                                    <th>
                                        <label>Comentario</label>
                                    </th>
                                    <th>
                                        <label>Empresa</label>
                                    </th>
                                    <th>
                                        <label>Usuario</label>
                                    </th>
                                    <th>
                                        <label>Técnico</label>
                                    </th>
                                    <th>
                                        <label>Mantenimiento</label>
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td >
                                            @Html.DisplayFor(modelItem => item.Comp_Fecha)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Comp_NumeroVisitaMes)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Comp_TiempoDur)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Comp_Comentario)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem=>item.cli_user.cli_cliente.Cli_RSocial)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.cli_user.Cli_nombre)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.com_usuarios.Com_Nombre)
                                        </td>
                                        <td>
                                            @Html.ActionLink("Editar", "Edit", new { id = item.idComp_Bitacora }, new { @class = "btn btn-success" }) 
                                            @Html.ActionLink("Detalles", "Details", new { id = item.idComp_Bitacora }, new { @class = "btn btn-primary" }) 
                                            @Html.ActionLink("Eliminar", "Delete", new { id = item.idComp_Bitacora }, new { @class = "btn btn-danger" })
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
}


@section Scripts {
    @Scripts.Render("~/AdminLTE/plugins/datatables/js")
    @Scripts.Render("~/Scripts/Tables/Data")
}



