@model IEnumerable<WebApplication.Models.comp_ruta>

@{
    ViewBag.Title = "RutaMes";
}

<h2>RutaMes</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Comp_Fecha)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Comp_NumeroVisitaMes)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Comp_TiempoDur)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Comp_Comentario)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.cli_cliente.Cli_Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.com_usuarios.Com_Nombre)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Comp_Fecha)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Comp_NumeroVisitaMes)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Comp_TiempoDur)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Comp_Comentario)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.cli_cliente.Cli_Nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.com_usuarios.Com_Nombre)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.idComp_Bitacora }) |
            @Html.ActionLink("Details", "Details", new { id=item.idComp_Bitacora }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.idComp_Bitacora })
        </td>
    </tr>
}

</table>
