@model WebApplication.Models.cli_usuario

@{
    ViewBag.Title = "Create";
}

<div class="register-box">
    <div class="register-box-body">
        

        @using (Html.BeginForm())
        {
             @Html.AntiForgeryToken()
           <div class="form-horizontal">
                <h3 style="text-align:center">USUARIO</h3>
                <hr />
                @Html.ValidationSummary(true)

                <div class="form-group">
                    <label for="inputEmail3" class="required col-sm-2 control-label">Nombre</label>
                    <div class="col-md-10 " >
                        @Html.EditorFor(model => model.Cli_nombre, new { htmlAttributes = new { @class = "form-control form-control-rounded" } })
                        @Html.ValidationMessageFor(model => model.Cli_nombre)
                    </div>
                </div>

            
                <div class="form-group">
                    <label for="inputEmail3" class=" required col-sm-2 control-label">Departamento</label>
                    <div class="col-lg-10" >
                        @Html.DropDownList("Cli_Departamento_idCli_Departamento", null, new { @class = " form-control form-control-rounded"})
                        @Html.ValidationMessageFor(model => model.Cli_Departamento_idCli_Departamento)
                    </div>
                </div>

                <div class="form-group">
                    <label for="inputEmail3" class=" required col-sm-2 control-label">Empresa</label>
                    <div class="col-md-10">
                        @Html.DropDownList("Cli_Empresa_idCli_Empresa", null, new { @class = "form-control form-control-rounded" })
                        @Html.ValidationMessageFor(model => model.Cli_Empresa_idCli_Empresa)
                    </div>
                </div>

                <div class="form-group">
                    <label for="inputEmail3" class=" required col-sm-2 control-label">Equipo</label>
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Cli_Equipo_idCli_Equipo, new { htmlAttributes = new { @class = "form-control form-control-rounded" } })
                        @Html.ValidationMessageFor(model => model.Cli_Equipo_idCli_Equipo)
                    </div>
                </div>

                <div class="form-group">
                    <label for="inputEmail3" class="col-sm-2 control-label">Correo</label>
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Cli_Correo, new { htmlAttributes = new { @class = "form-control form-control-rounded" } })
                        @Html.ValidationMessageFor(model => model.Cli_Correo)
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                       
                        <button type="submit" class="btn btn-success">Crear</button>
                       
                        @Html.ActionLink(" Equipo", "Create", "cliEquipo", null, new { @class = "btn btn-warning" })
                        @Html.ActionLink(" Departamento", "Create", "cliDepartamento",null, new { @class = "btn btn-warning" })
                        
                        @Html.ActionLink("Volver", "Index",null, new { @class = "btn btn-danger" })
                        
                    </div>
                </div>
            </div>
        }
    </div>
</div>

<style type="text/css">
    .form-control-rounded {
        border-radius: 16px;
    }

    .required::after {
        content: "*";
        font-weight: normal;
        color: red;
        font-size: large;
    }

    
  
</style>


