@model IEnumerable<WebApplication.Models.cli_usuario>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@section Menu {
    @Scripts.Render("~/Scripts/Tables/Data/menu")
}

@Styles.Render("~/AdminLTE/plugins/datatables/css")


<div class="row">
    <div class="col-md-12 ">
        <div class="box" style="margin-left:110px">

            <div class="box-body">
                <div class="form-horizontal">

                    <table id="example1" class="table table-bordered">
                        <thead>
                            <tr>
                                <th>
                                    <label>Nombre</label>
                                </th>
                                @*<th>
                                    <label>Departamento</label>
                                </th>*@
                                <th>
                                    <label>Equipo</label>
                                </th>
                                <th>
                                    <label>Correo</label>
                                </th>
                                <th>
                                    <label>Empresa</label>
                                </th>
                                <th>
                                    <label>Departamento</label>
                                </th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Cli_nombre)
                                    </td>
                                    @*<td>
                                        @Html.DisplayFor(modelItem => item.Cli_Departamento)
                                    </td>*@
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Cli_Equipo_idCli_Equipo)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Cli_Correo)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.cli_cliente.Cli_RSocial)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.cli_departamento1.Cli_Descripcion)
                                    </td>
                                    <td>
                                        @Html.ActionLink("Edit", "Edit", new { id = item.idCli_Usuario, id1 = item.cli_cliente.idCli_Cliente, id2 = item.cli_departamento1.idCli_Departamento }) |
                                        @Html.ActionLink("Details", "Details", new { id = item.idCli_Usuario, id1 = item.cli_cliente.idCli_Cliente, id2 = item.cli_departamento1.idCli_Departamento }) |
                                        @Html.ActionLink("Delete", "Delete", new { id = item.idCli_Usuario, id1 = item.cli_cliente.idCli_Cliente, id2 = item.cli_departamento1.idCli_Departamento })
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    @Scripts.Render("~/AdminLTE/plugins/datatables/js")
    @Scripts.Render("~/Scripts/Tables/Data")
}
