@model WebApplication.Models.cli_cliente

@{
    ViewBag.Title = "Delete";
}

@if (ViewBag.Verificar is Int32)
{

<div class="register-box">
    <div class="register-box-body">
        <h3 style="text-align:center">ELIMINAR EMPRESA</h3>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                <label for="inputEmail3" class="col-sm-2 control-label">Nombre</label>
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Cli_Nombre)
            </dd>

            <dt>
                <label for="inputEmail3" class="col-sm-2 control-label">Ruc</label>
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Cli_Ruc)
            </dd>

            <dt>
                <label for="inputEmail3" class="col-sm-2 control-label">Dirección</label>
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Cli_Direccion)
            </dd>

            <dt>
                <label for="inputEmail3" class="col-sm-2 control-label">Teléfono</label>
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Cli_Tel)
            </dd>

            <dt>
                <label for="inputEmail3" class="col-sm-2 control-label">Ciudad</label>
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Cli_Ciudad)
            </dd>

            <dt>
                <label for="inputEmail3" class="col-sm-2 control-label">Razón Social</label>
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Cli_RSocial)
            </dd>

            <dt>
                <label for="inputEmail3" class="col-sm-2 control-label">Contacto</label>
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Cli_NombContacto)
            </dd>

        </dl>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color">
                <input type="submit" value="Eliminar" class="btn btn-danger" />
                @Html.ActionLink("Volver", "Index", null, new { @class = "btn btn-danger" })
            </div>
        }
    </div>
</div>
}
<style>
    .required::after {
        content: "*";
        font-weight: normal;
        color: red;
        font-size: large;
    }
</style>