@model WebApplication.Models.cli_cliente

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>cli_cliente</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Cli_Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cli_Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cli_Ruc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cli_Ruc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cli_Direccion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cli_Direccion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cli_Tel)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cli_Tel)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cli_Ciudad)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cli_Ciudad)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cli_RSocial)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cli_RSocial)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cli_NombContacto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cli_NombContacto)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.idCli_Cliente }) |
    @Html.ActionLink("Back to List", "Index")
</p>
