@model WebApplication.Models.cli_cliente

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>cli_cliente</h4>
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.idCli_Cliente)

        <div class="form-group">
            @Html.LabelFor(model => model.Cli_Nombre, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Cli_Nombre)
                @Html.ValidationMessageFor(model => model.Cli_Nombre)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Cli_Ruc, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Cli_Ruc)
                @Html.ValidationMessageFor(model => model.Cli_Ruc)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Cli_Direccion, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Cli_Direccion)
                @Html.ValidationMessageFor(model => model.Cli_Direccion)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Cli_Tel, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Cli_Tel)
                @Html.ValidationMessageFor(model => model.Cli_Tel)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Cli_Ciudad, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Cli_Ciudad)
                @Html.ValidationMessageFor(model => model.Cli_Ciudad)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Cli_RSocial, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Cli_RSocial)
                @Html.ValidationMessageFor(model => model.Cli_RSocial)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Cli_NombContacto, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Cli_NombContacto)
                @Html.ValidationMessageFor(model => model.Cli_NombContacto)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
