@model IEnumerable<WebApplication.Models.cli_cliente>

@{
    ViewBag.Title = "Index";
}

@section Menu {
    @Scripts.Render("~/Scripts/Tables/Data/menu")
}

@Styles.Render("~/AdminLTE/plugins/datatables/css")
@if (ViewBag.Verificar is Int32)
{
<div class="row">
    <div class="col-md-12">
        <div class="box">
            <div class="table-responsive">
                <div class="box-body">
                    <div class="form-horizontal">
                        <h4>@Html.ActionLink("AGREGAR", "create", "create", new { @class = "btn btn-success" })</h4>
                        <hr />
                        @Html.ValidationSummary(true)
                        <table id="example1" class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>
                                        <label>Razón Social</label>
                                    </th>
                                    <th>
                                        <label>Nombre</label>
                                    </th>
                                    <th>
                                        <label>Ruc</label>
                                    </th>
                                    <th>
                                        <label>Teléfono</label>
                                    </th>
                                    <th>
                                        <label>Dirección</label>
                                    </th>
                                    <th>
                                        <label>Ciudad</label>
                                    </th>
                                    <th>
                                        <label>Contacto</label>
                                    </th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Cli_RSocial)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Cli_Nombre)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Cli_Ruc)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Cli_Tel)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Cli_Direccion)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Cli_Ciudad)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Cli_NombContacto)
                                        </td>
                                        <td>
                                            @Html.ActionLink("Editar", "Edit", new { id = item.idCli_Cliente }, new { @class = "btn btn-success" }) 
                                            @Html.ActionLink("Detalles", "Details", new { id = item.idCli_Cliente }, new { @class = "btn btn-primary" }) 
                                            @Html.ActionLink("Eliminar", "Delete", new { id = item.idCli_Cliente }, new { @class = "btn btn-danger" })
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
}
@section Scripts {
    @Scripts.Render("~/AdminLTE/plugins/datatables/js")
    @Scripts.Render("~/Scripts/Tables/Data")
}
