@model IEnumerable<WebApplication.Models.cli_cliente>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Cli_Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cli_Ruc)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cli_Direccion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cli_Tel)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cli_Ciudad)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cli_RSocial)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cli_NombContacto)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Cli_Nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Cli_Ruc)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Cli_Direccion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Cli_Tel)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Cli_Ciudad)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Cli_RSocial)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Cli_NombContacto)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.idCli_Cliente }) |
            @Html.ActionLink("Details", "Details", new { id=item.idCli_Cliente }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.idCli_Cliente })
        </td>
    </tr>
}

</table>
