@model WebApplication.Models.cli_departamento

@{
    ViewBag.Title = "Create";
}

@section Menu {
    @Scripts.Render("~/Scripts/Forms/General/menu")
}

@if (ViewBag.Verificar is Int32)
{
<div class="register-box">
    <div class="register-box-body">

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal">
                <h3 style="text-align:center">DEPARTAMENTO</h3>
                <hr />
                @Html.ValidationSummary(true)

                <div class="form-group">
                    <label for="inputEmail3" class=" required col-sm-3 control-label">Descripción:</label>
                    <div class="col-md-8">
                        @Html.EditorFor(model => model.Cli_Descripcion, new { htmlAttributes = new { @class = "form-control form-control-rounded" } })
                        @Html.ValidationMessageFor(model => model.Cli_Descripcion,null, new { @class="text-danger"})
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-3 col-md-10">
                        <button type="submit" class="btn btn-success">Crear</button>
                        @Html.ActionLink("Volver", "Index", null, new { @class = "btn btn-danger" })
                    </div>
                </div>
            </div>
        }
    </div>
</div>
}
@Scripts.Render("~/bundles/jqueryval")

<style type="text/css">
    .form-control-rounded {
        border-radius: 16px;
    }

    .required::after {
        content: "*";
        font-weight: normal;
        color: red;
        font-size: large;
    }
</style>

