@using WebApplication.Extensions

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>COMPUSERVI</title>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">

    @Styles.Render("~/AdminLTE/plugins/font-awesome/css")
    @Styles.Render("~/AdminLTE/plugins/ionicons/css")
    @Styles.Render("~/AdminLTE/bootstrap/css")
    @Styles.Render("~/AdminLTE/dist/css")
    @Styles.Render("~/AdminLTE/dist/css/skins")

</head>

<body class="hold-transition skin-blue sidebar-mini">
    
    
    <div class="wrapper">
        @if (Request.IsAuthenticated)
        {
            using (Html.BeginForm("Logout", "MyAccount", FormMethod.Post, new { id = "logoutform" }))
            {
                <header class="main-header">
                    <a href="@Url.Action("Index", "cliCliente")" class="logo"><span class="logo-lg"><b>Control</b> De Visitas</span> </a>
                </header>
                <nav class="navbar navbar-static-top" role="navigation">
                    <button type="button" class="btn btn-success disabled">Bienvenido @(Request.IsAuthenticated ? HttpContext.Current.User.Identity.Name : "") !!</button>
                    <ul class="nav navbar-nav navbar-right">

                        <li><a href="javascript:document.getElementById('logoutform').submit()" class="btn btn-danger btn-lg">Logout</a></li>


                    </ul>
                </nav>


            }

        }

                <aside class="main-sidebar">
                    <section class="sidebar">


                        <ul class="sidebar-menu">
                            <li class="header">CLIENTES</li>

                            <li id="left-sidebar-menu-tables" class="treeview">
                                <a href="#">
                                    <i class="fa fa-table"></i> <span>Empresas</span>
                                    <i class="fa fa-angle-left pull-right"></i>
                                </a>
                                <ul class="treeview-menu">
                                    <li id="left-sidebar-menu-tables-simple"><a href="@Url.Action("Create", "cliCliente")"><i class="fa fa-circle-o"></i>Crear</a></li>
                                    <li id="left-sidebar-menu-tables-data"><a href="@Url.Action("Index", "cliCliente")"><i class="fa fa-circle-o"></i> Listar </a></li>
                                </ul>
                            </li>


                            <li id="left-sidebar-menu-tables" class="treeview">
                                <a href="#">
                                    <i class="fa fa-table"></i> <span>Departamentos</span>
                                    <i class="fa fa-angle-left pull-right"></i>
                                </a>
                                <ul class="treeview-menu">
                                    <li id="left-sidebar-menu-tables-simple"><a href="@Url.Action("Create", "cliDepartamento")"><i class="fa fa-circle-o"></i>Crear</a></li>
                                    <li id="left-sidebar-menu-tables-data"><a href="@Url.Action("Index", "cliDepartamento")"><i class="fa fa-circle-o"></i> Listar </a></li>
                                </ul>
                            </li>


                            <li id="left-sidebar-menu-tables" class="treeview">
                                <a href="#">
                                    <i class="fa fa-table"></i> <span>Usuarios </span>
                                    <i class="fa fa-angle-left pull-right"></i>
                                </a>
                                <ul class="treeview-menu">
                                    <li id="left-sidebar-menu-tables-simple"><a href="@Url.Action("Create","cliUsuario")"><i class="fa fa-circle-o"></i> Crear </a></li>
                                    <li id="left-sidebar-menu-tables-data"><a href="@Url.Action("Index","cliUsuario")"><i class="fa fa-circle-o"></i>Listar</a>


                                </ul>
                            </li>



                            <li id="left-sidebar-menu-tables" class="treeview">
                                <a href="#">
                                    <i class="fa fa-table"></i> <span>Equipos </span>
                                    <i class="fa fa-angle-left pull-right"></i>
                                </a>
                                <ul class="treeview-menu">
                                    <li id="left-sidebar-menu-tables-simple"><a href="@Url.Action("Create","cliEquipo")"><i class="fa fa-circle-o"></i> Crear </a></li>
                                    <li id="left-sidebar-menu-tables-data"><a href="@Url.Action("Index","cliUsuario")"><i class="fa fa-circle-o"></i>Listar</a>


                                </ul>
                            </li>

                            <li id="left-sidebar-menu-tables" class="treeview">
                                <a href="#">
                                    <i class="fa fa-table"></i> <span>Tipo de Equipos</span>
                                    <i class="fa fa-angle-left pull-right"></i>
                                </a>
                                <ul class="treeview-menu">
                                    <li id="left-sidebar-menu-tables-simple"><a href="@Url.Action("Create", "cliTipoEquipo")"><i class="fa fa-circle-o"></i> Crear</a></li>
                                    <li id="left-sidebar-menu-tables-data"><a href="@Url.Action("Index", "cliTipoEquipo")"><i class="fa fa-circle-o"></i>Listar</a></li>
                                </ul>
                            </li>

                            <li class="header">COMPUSERVI</li>



                            <li id="left-sidebar-menu-tables" class="treeview">
                                <a href="#">
                                    <i class="fa fa-table"></i> <span>Usuarios</span>
                                    <i class="fa fa-angle-left pull-right"></i>
                                </a>
                                <ul class="treeview-menu">
                                    <li id="left-sidebar-menu-tables-simple"><a href="@Url.Action("Create", "ComUsuarios")"><i class="fa fa-circle-o"></i> Crear</a></li>
                                    <li id="left-sidebar-menu-tables-data"><a href="@Url.Action("Index", "ComUsuarios")"><i class="fa fa-circle-o"></i> Listar </a></li>
                                </ul>
                            </li>
                            <li id="left-sidebar-menu-tables" class="treeview">
                                <a href="#">
                                    <i class="fa fa-table"></i> <span>Rutas</span>
                                    <i class="fa fa-angle-left pull-right"></i>
                                </a>
                                <ul class="treeview-menu">
                                    <li id="left-sidebar-menu-tables-simple"><a href="@Url.Action("Create", "CompRuta")"><i class="fa fa-circle-o"></i> Crear</a></li>
                                    <li id="left-sidebar-menu-tables-data"><a href="@Url.Action("Index", "CompRuta")"><i class="fa fa-circle-o"></i> Listar</a></li>
                                </ul>
                            </li>


                            <li id="left-sidebar-menu-tables" class="treeview">
                                <a href="#">
                                    <i class="fa fa-table"></i> <span>Ròles</span>
                                    <i class="fa fa-angle-left pull-right"></i>
                                </a>
                                <ul class="treeview-menu">
                                    <li id="left-sidebar-menu-tables-simple"><a href="@Url.Action("Create", "Roles")"><i class="fa fa-circle-o"></i> Crear</a></li>
                                    <li id="left-sidebar-menu-tables-data"><a href="@Url.Action("Index", "Roles")"><i class="fa fa-circle-o"></i> Listar</a></li>
                                </ul>
                            </li>
                        </ul>
                    </section>
                </aside>

                <div class="container ">

                    <br />
                    <br />
                    @RenderBody()
                    <br />
                    <br />
                    <br />
                </div>





                @Scripts.Render("~/AdminLTE/plugins/jquery/js")
                @RenderSection("menu", required: false)
                @Scripts.Render("~/AdminLTE/bootstrap/js")
                @Scripts.Render("~/AdminLTE/plugins/slimscroll/js")
                @Scripts.Render("~/AdminLTE/plugins/fastclick/js")
                @Scripts.Render("~/Scripts/Shared/_Layout")
                @Scripts.Render("~/AdminLTE/dist/js")
                @RenderSection("scripts", required: false)



    </div>
     
</body>
</html>





<script type="text/javascript">
    $('#example1').DataTable({
        "language": {
            "sProcessing": "Procesando...",
            "sLengthMenu": "Mostrar _MENU_ registros",
            "sZeroRecords": "No se encontraron resultados",
            "sEmptyTable": "Ningún dato disponible en esta tabla",
            "sInfo": "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
            "sInfoEmpty": "Mostrando registros del 0 al 0 de un total de 0 registros",
            "sInfoFiltered": "(filtrado de un total de _MAX_ registros)",
            "sInfoPostFix": "",
            "sSearch": "Buscar:",
            "sUrl": "",
            "sInfoThousands": ",",
            "sLoadingRecords": "Cargando...",
            "oPaginate": {
                "sFirst": "Primero",
                "sLast": "Último",
                "sNext": "Siguiente",
                "sPrevious": "Anterior"
            },
            "oAria": {
                "sSortAscending": ": Activar para ordenar la columna de manera ascendente",
                "sSortDescending": ": Activar para ordenar la columna de manera descendente"
            }
        }
    });
</script>


<style>

    html, body {
        height: 100%;
    }

   
    .columns {
        background-color: #C9E6FF;
        height: 100%;
    }

  

   

</style>