@model IEnumerable<WebApplication.Models.cli_departamento>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Cli_Descripcion)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @*@Html.DisplayFor(modelItem => item.Cli_Descripcion)*@
            @Html.ActionLink(item.Cli_Descripcion, "Edit", new { id=item.idCli_Departamento})
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.idCli_Departamento }) |
            @Html.ActionLink("Details", "Details", new { id=item.idCli_Departamento }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.idCli_Departamento })
        </td>
    </tr>
}

</table>
