@model WebApplication.Models.com_usuarios

@{
    ViewBag.Title = "Register";
}

<h2>Register</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
   if (ViewBag.Message != null)
        {
            <div style="border:solid 1px green">
                @ViewBag.Message
            </div>
        }
    
    <div class="form-horizontal">
        <h4>com_usuarios</h4>
        <hr />
        @Html.ValidationSummary(true)

        <div class="form-group">
            @Html.LabelFor(model => model.Com_Nombre, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Com_Nombre)
                @Html.ValidationMessageFor(model => model.Com_Nombre)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Roles_idRoles, "Roles_idRoles", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("Roles_idRoles", String.Empty)
                @Html.ValidationMessageFor(model => model.Roles_idRoles)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.com_username, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.com_username)
                @Html.ValidationMessageFor(model => model.com_username)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.com_clave, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.com_clave)
                @Html.ValidationMessageFor(model => model.com_clave)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.com_correo, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.com_correo)
                @Html.ValidationMessageFor(model => model.com_correo)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
